name: Deploy Spring Boot to EC2 (Ubuntu)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Copy WAR to EC2
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: target/demo.war
          target: /home/ubuntu/

      - name: Deploy to Tomcat
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            sudo mv /home/ubuntu/demo.war /var/lib/tomcat10/webapps/demo.war
            sudo chown tomcat:tomcat /var/lib/tomcat10/webapps/demo.war
            sudo chmod 644 /var/lib/tomcat10/webapps/demo.war
            sudo systemctl restart tomcat10

